<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="list-inline">
          <li><a href="http://luodaoyi.com" onclick="pageTracker._link(this.href); return false;">Blog</a></li>
          <li><%= link_to 'Rss', rss_path %></li>
          <li><a href="https://github.com/luodaoyi/javlibrary">GitHub</a></li>
        </ul>
        <p>Made by <a href="http://luodaoyi.com" rel="nofollow">Asura</a>. </p>
        <p>Code released under the <a href="https://github.com/luodaoyi/javlibrary/blob/master/LICENSE">MIT License</a>.</p>
        <p>Powered by <a href="https://rubyonrails.org/">Rails</a>.</p>
        <p>Based on <a href="http://getbootstrap.com" rel="nofollow">Bootstrap</a>. Icons from <a href="http://fortawesome.github.io/Font-Awesome/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="http://www.google.com/webfonts" rel="nofollow">Google</a>.</p>
      </div>
    </div>
  </div>

</footer>
